[defaults]
host_key_checking = False
private_key_file = ./${var.key_name}.pem
timeout = 30
retries = 3
inventory = inventory.ini
gathering = smart
fact_caching = memory

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=60
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r